$theme: #a444f3;

:root {
	--theme-main-color: #{$theme};

	// Html
	--html-color: #ffffff;
	--background-color: #0f0f0f;

	// Station
	--link-hover: #8c08f8;

	// Navbar
	--navbar-background: #0f0f0ff1;
	--navbar-border-color: #333;
	--navbar-link: #ffffff;
	--navbar-link-hover: var(--theme-main-color);
	--navbar-link-hover-background: #3f3f46;
	--navbar-logo-inner: #fff;
	--navbar-logo-outer: var(--theme-main-color);
	--navbar-settings: #fff;

	// ThemeToggle
	--theme-toggle-border: #a6a6a6;
	--theme-toggle-background: #121212;
	--theme-toggle-color-hover: #e6e6e6;
	--theme-toggle-border-hover: #e6e6e6;
	--theme-toggle-check-background: #383838;

	// Card
	--card-title: #ffffff;
	--card-title-hover: var(--theme-main-color);
	--card-date: #c8c8c8;
	--card-category-info: #3f3f46;
	--card-category-hover-background: #71717a;

	// Series Card
	--card-series-background: #161b22;
	--card-series-border: #30363d;
	--card-series: #fafafa;
	--card-series-hover-background: #71717a;
	--card-series-hover-span: #fdfdfd;

	// Featured Card
	--card-featured-background: #{rgba($theme, 0.05)};
	--card-featured-border: var(--theme-main-color);

	--container-header: var(--theme-main-color);
	--main-header-color: #d4d4da;

	// Markdown
	--markdown-color: #babac2;
	--code-background-color: transparent;
	--markdown-tags-color: #ffb951;
	--markdown-h1-color: #d4d4da;
	--markdown-h2-color: #d008eb;
	--markdown-h3-color: #ff2ea4;
	--markdown-h4-color: #8be9fd;
	--markdown-a-color: #40d0f0;
	--markdown-a-hover-color: #40d0f0c0;

	--code-background-color: #01790b07;

	// Navbar
	--navbar-link-hover: var(--theme-main-color);
	--navbar-link-hover-background: #3f3f46;
	--navbar-logo-outer: var(--theme-main-color);

	// Card
	--card-title-hover: var(--theme-main-color);
}

@font-face {
	font-family: 'Gx';
	src: url('/fonts/GX.woff2') format('woff2');
}

@font-face {
	font-family: 'CascadiaMono';
	src: url('/fonts/CascadiaMono.woff2') format('woff2');
}

html {
	font-family: 'Gx';
	-webkit-tap-highlight-color: transparent;
	background-color: var(--background-color);
	color: var(--html-color);

	&:focus {
		outline: 0;
	}
}

body {
	margin: 0;
	padding: 0;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

*,
*:before,
*:after {
	box-sizing: border-box;
	text-rendering: geometricPrecision;
}

::-webkit-scrollbar {
	width: 4px;

	&:horizontal {
		height: 4px;
	}
}

::-webkit-scrollbar-track {
	background: #f1f1f100;
}

::-webkit-scrollbar-thumb {
	background: var(--theme-main-color);
	border-radius: 4px;

	&:hover {
		background: #555;
	}
}
