@font-face {
	font-family: 'Pondar';
	src: url('/fonts/Pondar.otf') format('opentype');
}

@font-face {
	font-family: 'Gx';
	src: url('/fonts/Gx.woff2') format('woff2');
}

@font-face {
	font-family: 'CascadiaMono';
	src: url('/fonts/CascadiaMono.woff2') format('woff2');
}
